/* You can add global styles to this file, and also import other style files */
body{
background-color:#2ca549;
}

.mat-tab-label{
    background-color: #fff;
    border-radius: 2px;
    border-left: 3px solid #2ca549;
}
.mat-tab-group{
    align-items: center;
}